@keyframes slide-in-ltr {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-rtl {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-ltr {
  animation: slide-in-ltr 800ms ease-out forwards;
  animation-delay: 300ms;
}

.animate-slide-in-rtl {
  animation: slide-in-rtl 800ms ease-out forwards;
  animation-delay: 600ms;
}
