@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-in-ltr {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-ltr {
  animation: slide-in-ltr 1s ease-out forwards;
  animation-delay: 500ms;
}


@keyframes slide-in-rtl {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-rtl {
  animation: slide-in-rtl 1s ease-out forwards;
  animation-delay: 1500ms;
}